<footer class="landing-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="text-center">
                    <div class="footer-logo mb-3">
                        <img src="assets/images/fantom-journal-high-resolution-logo-transparent.png" alt="" height="50">
                    </div>
                    <ul class="list-inline footer-list text-center mt-5">
                        <li class="list-inline-item"><a [routerLink]="['.']" style="color: black;">Home</a></li>
                        <li class="list-inline-item"><a [routerLink]="['.']" style="color: black;">Features</a></li>
                        <!-- <li class="list-inline-item"><a [routerLink]="['.']">Services</a></li>
                        <li class="list-inline-item"><a [routerLink]="['.']">Clients</a></li> -->
                        <li class="list-inline-item"><a [routerLink]="['.']" style="color: black;">Pricing</a></li>
                        <li class="list-inline-item"><a [routerLink]="['.']" style="color: black;">Contact</a></li>
                    </ul>
                    <!-- <ul class="list-inline social-links mb-4 mt-5">
                        <li class="list-inline-item"><a [routerLink]="['.']"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a [routerLink]="['.']"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a [routerLink]="['.']"><i class="mdi mdi-instagram"></i></a></li>
                        <li class="list-inline-item"><a [routerLink]="['.']"><i class="mdi mdi-google-plus"></i></a>
                        </li>
                    </ul> -->
                    <p class="mb-4" style="color: black;">2024 copyright © Fantom Journal</p>
                </div>
            </div>

        </div>

    </div>
</footer>