<body>
    <div class="card-container">
        <div class="card">
            <img src="../../../../assets/images/bull.png" alt="Stocks Icon" class="card-icon">
            Stocks
        </div>
        <div class="card">
            <img src="../../../../assets/images/choices.png" alt="Options Icon" class="card-icon">
            Options
        </div>
        <div class="card">
            <img src="../../../../assets/images/candlestick.png" alt="Forex Icon" class="card-icon">
            Forex
        </div>
        <div class="card">
            <img src="../../../../assets/images/rocket.png" alt="Futures Icon" class="card-icon">
            Futures
        </div>
        <div class="card">
            <img src="../../../../assets/images/bitcoin.png" alt="Crypto Icon" class="card-icon">
            Crypto
        </div>
    </div>
</body>
