<section class="bg-home bg-gradient" id="home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6">
                        <div class="home-title">
                            <h5 class="mb-3" style="color: #fff;">Get It Now !!!</h5>
                            <h2 class="mb-4 text-white" style="font-size: 3.875rem;line-height: 60px;">Profits aren't success—learning from every trade is. Journal it, grow it.</h2>
                            <p class=" home-desc font-16 mb-5" style="color: #fff;">Transform your trading journey with Fantom
                                Trading Journal. This all-in-one tool helps you track your trades, uncover your
                                strengths and weaknesses, and make data-driven decisions. Start journaling today and
                                unlock your path to consistent profitability!
                            </p>
                            <div class="watch-video mt-5">
                                <a [routerLink]="['/auth/register']" class="btn btn-custom me-4"
                                    style="background-color: #000;border-color: #ad17ff;font-size: large;border-radius: 5px;">Start
                                    Journaling <i class="mdi mdi-chevron-right ms-1"></i></a>
                                <!-- <a href="http://vimeo.com/99025203" target="_blank"
                                    class="video-play-icon text-white"><i
                                        class="mdi mdi-play play-icon-circle me-2"></i> <span>Watch The Video</span></a> -->
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-sm-6">
                        <div class="home-img mo-mt-20">
                            <img src="assets/images/landing/home-img.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div>
            <!-- end container-fluid -->
        </div>
    </div>
</section>