<!-- <body>
    <div class="thoughtful-cards-container">
        <div class="thoughtful-card card1">"Creativity is intelligence having fun."</div>
        <div class="thoughtful-card card2">"The only limit to our realization of tomorrow is our doubts of today."</div>
        <div class="thoughtful-card card3">"Believe you can and you're halfway there."</div>
        <div class="thoughtful-card card4">"Success is not the key to happiness. Happiness is the key to success."</div>
        <div class="thoughtful-card card5">"The best way to predict the future is to create it."</div>
    </div>
</body> -->














<!-- <style>
      .background-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
</style> -->






<body>
    <!-- <video class="background-video" autoplay muted loop playsinline>
        <source src="../../../../assets/images/trading-boards-2023-11-27-04-56-23-utc.mov" type="video/mp4">
        Your browser does not support the video tag.
    </video> -->
    <div class="container">
        <div class="card card-left">
            <div class="card-image">
                <img src="../../../../assets/images/buy.png" alt="Image 1">
            </div>
            <div class="card-text">
                <p>Tired of making the same mistakes over and over?</p>
            </div>
        </div>

        <div class="card card-top">
            <div class="card-image">
                <img src="../../../../assets/images/trading (1).png" alt="Image 2">
            </div>
            <div class="card-text">
                <p>Dreaming of consistent profits?</p>
            </div>
        </div>

        <div class="card card-right">
            <div class="card-image">
                <img src="../../../../assets/images/stock-market.png" alt="Image 3">
            </div>
            <div class="card-text">
                <p>Feeling lost in a sea of data?</p>
            </div>
        </div>

        <div class="card card-right">
            <div class="card-image">
                <img src="../../../../assets/images/inverse-hammer.png" alt="Image 4">
            </div>
            <div class="card-text">
                <p>Struggling to pinpoint where things go wrong?</p>
            </div>
        </div>

        <div class="card card-top">
            <div class="card-image">
                <img src="../../../../assets/images/stock (1).png" alt="Image 5">
            </div>
            <div class="card-text">
                <p>Tired of blowing your trading accounts?</p>
            </div>
        </div>

        <div class="card card-bottom">
            <div class="card-image">
                <img src="../../../../assets/images/sell.png" alt="Image 6">
            </div>
            <div class="card-text">
                <p>Frustrated by missing out on key trading opportunities?</p>
            </div>
        </div>

        <div class="card card-left">
            <div class="card-image">
                <img src="../../../../assets/images/gain.png" alt="Image 7">
            </div>
            <div class="card-text">
                <p>Overwhelmed by complex trading strategies and tools?</p>
            </div>
        </div>

  
    </div>
</body>


  
